[Unit]
Description=rsync backup
Wants=network-online.target

[Timer]
{% if rsync_backup_timer.on_active_sec is defined %}
OnActiveSec={{ rsync_backup_timer.on_active_sec }}
{% endif %}
{% if rsync_backup_timer.on_boot_sec is defined %}
OnBootSec={{ rsync_backup_timer.on_boot_sec }}
{% endif %}
{% if rsync_backup_timer.on_startup_sec is defined %}
OnStartupSec={{ rsync_backup_timer.on_startup_sec }}
{% endif %}
{% if rsync_backup_timer.on_unit_active_sec is defined %}
OnUnitActiveSec={{ rsync_backup_timer.on_unit_active_sec }}
{% endif %}
{% if rsync_backup_timer.on_calendar is defined %}
OnCalendar={{ rsync_backup_timer.on_calendar }}
{% endif %}

[Install]
WantedBy=timers.target
