REMOTE_WRITE_USERNAME=remotewrite
REMOTE_WRITE_PASSWORD='{{ lookup('amazon.aws.aws_ssm', '/nekopara/victoria-metrics/ingress-user/remotewrite/password') }}'
REMOTE_WRITE_AUTHORIZATION_HEADER='Basic {{ ('remotewrite:' + lookup('amazon.aws.aws_ssm', '/nekopara/victoria-metrics/ingress-user/remotewrite/password')) | b64encode }}'
