[Unit]
Description=photography-rebuild
After=network.target
StartLimitIntervalSec=30min
StartLimitBurst=3

[Service]
Type=oneshot
User=ci
Group=ci
ExecStart=/usr/bin/curl -X POST https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/131990c7-b5fc-4fcc-a486-ee5017ebb3c4
StandardOutput=journal
Restart=on-failure
RestartSec=5min
WatchdogSec=30

[Install]
WantedBy=multi-user.target
