[Unit]
Description=SeaweedFS
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/weed server -dir /mnt/exos/weed -filer -s3
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
