[Unit]
Description=Shimiko server
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/shimiko.env
Environment=SHIMIKO_HTTP_PORT=80
Environment=SHIMIKO_HTTPS_PORT=443
WorkingDirectory=/var/shimiko/
ExecStart=/usr/local/bin/shimiko server
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
