- name: make apt stop installing useless shit (Debian)
  copy:
    dest: /etc/apt/apt.conf.d/999norecommend
    content: |
      APT::Install-Recommends "0";
      APT::Install-Suggests "0";
  when: ansible_distribution in ["Debian", "Ubuntu", "Linux Mint", "OSMC"]
- name: install packages needed for Ansible management (Newer Debian)
  apt:
    state: present
    force_apt_get: true
    name:
      - ansible
      - build-essential
      - python3-apt
  when: ansible_distribution == "Debian" and ansible_distribution_release == "bullseye"

- name: install packages needed for Ansible management (Other/Older Debian)
  apt:
    state: present
    force_apt_get: true
    name:
      - ansible
      - build-essential
      - python-apt
  when: ansible_distribution in ["Debian", "Ubuntu", "Linux Mint", "OSMC"] and ansible_distribution_release != "bullseye"

- name: install packages needed for Ansible management (Red Hat - dnf)
  dnf:
    state: installed
    name:
      - ansible
  when: ansible_distribution in ["Fedora", "Red Hat", "CentOS"]
