- name: make apt stop installing useless shit (Debian)
  copy:
    dest: /etc/apt/apt.conf.d/999norecommend
    content: |
      APT::Install-Recommends "0";
      APT::Install-Suggests "0";
  when: ansible_distribution in ["Debian", "Ubuntu", "Linux Mint", "OSMC"]

- name: make apt stop installing snap (Ubuntu)
  copy:
    dest: /etc/apt/preferences.d/nosnap.pref
    content: |
      Package: snapd
      Pin: release a=*
      Pin-Priority: -10
  when: ansible_distribution in ["Ubuntu", "Linux Mint"]

- name: update apt cache (Debian)
  apt:
    force_apt_get: true
    update_cache: true
  when: ansible_distribution in ["Debian", "Ubuntu", "Linux Mint", "OSMC"]

- name: install packages needed for Ansible management (Newer Debian)
  apt:
    state: present
    force_apt_get: true
    update_cache: true
    name:
      - ansible
      - build-essential
      - python3-apt
  when: ansible_distribution_release in ["bullseye", "jammy"]

- name: install packages needed for Ansible management (Other/Older Debian)
  apt:
    state: present
    force_apt_get: true
    name:
      - ansible
      - build-essential
      - python-apt
  when: ansible_distribution_release in ["buster", "focal", "bionic"]

- name: install packages needed for Ansible management (Red Hat - dnf)
  dnf:
    state: installed
    name:
      - ansible
  when: ansible_distribution in ["Fedora", "Red Hat", "CentOS"]
