[Unit]
Description=Torrent auto-pause for Transmission
After=network.target
StartLimitIntervalSec=30min
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/sbin/torrent-auto-pause.py --address 'http://maki.sapslaj.xyz:9091/transmission/rpc'
StandardOutput=journal
Restart=on-failure
RestartSec=5min
WatchdogSec=30

[Install]
WantedBy=multi-user.target
