[Unit]
Description=libvirt_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/libvirt_exporter
Restart=on-failure

[Install]
WantedBy=multi-user.target
